target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### eclipse ###
*/bin/
bin/
*/.settings/
/.settings/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.svn


Desktop.ini

.metadata
.recommenders
_pasted_code_
.gradle

.DS_Store
*.bak